PORT=3000

# MongoDB
DB_USER=
DB_PASS=
# MONGODB_URI=mongodb+srv://...

# Stripe
PAYMENT_GATEWAY_KEY=
STRIPE_WEBHOOK_SECRET=

# SSLCommerz
SSL_STORE_ID=
SSL_STORE_PASSWD=
SSL_IS_LIVE=false

CLIENT_BASE_URL=http://localhost:5173
GEMINI_API_KEY=

# Firebase admin credentials
# FIREBASE_SERVICE_ACCOUNT=
# FIREBASE_SERVICE_ACCOUNT_PATH=
